body {

  background:
    linear-gradient(
      135deg,
      #1e293b,
      #0f172a
    );

  color: white;

  font-family: 'Segoe UI', sans-serif;

  min-height: 100vh;

}

.navbar {

  background:
    rgba(15,23,42,0.7);

  backdrop-filter: blur(12px);

}

.navbar h1 {

  font-weight: 700;

}

h1,
h2,
h3,
h4,
h5 {

  color: white !important;

}

h2 {

  font-size: 3rem;

  font-weight: 700;

}

.hero-text {

  color: #cbd5e1;

  max-width: 900px;

  margin: auto;

  line-height: 1.8;

}

.how-box {

  background:
    rgba(255,255,255,0.05);

  padding: 30px;

  border-radius: 24px;

}

.how-box p {

  color: #e2e8f0;

}

.card {

  background:
    rgba(30,41,59,0.7) !important;

  border:
    1px solid rgba(255,255,255,0.08);

  border-radius: 24px;

  backdrop-filter: blur(18px);

}

.card:hover {

  transform: translateY(-5px);

  transition: 0.3s ease;

}

.card img {

  height: 230px;

  object-fit: cover;

}

.card p,
#detailDescription,
#studySummary,
#studyTip,
#quizQuestion {

  color: #e2e8f0 !important;

  line-height: 1.7;

}

.card-body h5 {

  color: #93c5fd !important;

}

#searchInput,
#resourceSearch,
textarea {

  background:
    rgba(15,23,42,0.7) !important;

  color: white !important;

  border:
    1px solid rgba(255,255,255,0.1) !important;

  border-radius: 16px;

}

textarea {

  padding: 15px;

}

.btn-primary {

  background:
    linear-gradient(
      to right,
      #3b82f6,
      #2563eb
    ) !important;

  border: none;

  border-radius: 14px;

}

.btn-danger,
.btn-outline-info {

  border-radius: 14px;

}

.dashboard {

  background:
    linear-gradient(
      to right,
      rgba(59,130,246,0.12),
      rgba(147,197,253,0.05)
    );

}

footer {

  color: #94a3b8;

}